[submodule "dev-docker"]
	path = dev-docker
	url = https://github.com/ossrs/dev-docker.git
[submodule "proxy-go"]
	path = proxy-go
	url = https://github.com/ossrs/proxy-go.git
[submodule "trunk/intra-stream_site"]
	path = trunk/intra-stream_site
	url = https://github.com/PLK-NPL-ITP/livestream_site.git